.container {
	width: 50%;
	height: inherit;
	padding: 12px;
}

.container:first-child {
	padding-left: 0px;
}

.container:last-child {
	padding-right: 0px;
}

.subcontainer {
	border: 1px solid #eff3f7;
	border-radius: 8px;
	height: 100%;
}

.education {
	background: #eff3f7;
	color: var(--primary);
	padding: 12px 24px;
	flex-direction: row;
}

.schoolName {
	font-weight: 600;
}

.startend {
	font-size: 14px;
	display: flex;
	gap: 2px;
	margin-left: auto;
}

.content {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
}

.course {
	display: flex;
	gap: 12px;
	align-items: center;
}

.course i {
	color: var(--primary);
}
.summary {
	font-size: 14px;
	font-style: italic;
}

.download {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 14px;
	padding: 10px 12px;
	border: none;
	background: var(--primary-med);
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	margin-top: auto;
}

.download:hover {
	background: var(--primary);
}

.download i {
	color: #fff;
	font-size: 16px;
}

@media screen and (max-width: 1080px) {
	.course {
		align-items: flex-start;
	}
	.course > i {
		margin-top: 6px;
	}
	.content {
		font-size: 14px;
	}
	.education {
		flex-direction: column;
	}
	.startend {
		margin-left: 0px;
	}
}

@media screen and (max-width: 579px) {
	.container {
		width: 100%;
	}
	.company {
		flex-direction: column;
	}
	.schoolName {
		text-align: center;
	}
	.startend {
		flex-direction: column;
		margin: auto;
		text-align: center;
	}
	.course {
		align-items: flex-start;
	}
	.course > i {
		margin-top: 6px;
	}
	.content {
		flex-direction: column;
	}
	.download {
		width: 100%;
		margin-left: 0px;
		justify-content: center;
	}
}
